/* ------------------------------------------- Common style ------------------------------------------- */
/*
color: #1d1d1b; Black
color: #464646; Grey
color: #feeee9; Rose
color: #fdefe7; Beige
color: #c29d5d; Brown
color: #ffffff; White
*/

html,
body {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- Index page style ------------------------------------------- */
section {
    flex: 1;
    /* Each section will take up equal space */
    padding: 20px;
    box-sizing: border-box;
}

.tattoo {
    font-size: 46px;
    background-image: url('../assets/images/common/tattoo_bg_2.jpg');
    /* Path to your image */
    background-size: cover;
    /* Makes the image cover the entire screen */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Keeps the background fixed when scrolling */
    padding: 150px;
    text-align: center;
    color: #fdefe7;
}

.art {
    font-size: 46px;
    background-image: url('../assets/images/common/art_background_1.jpg');
    /* Path to your image */
    background-size: cover;
    /* Makes the image cover the entire screen */
    background-position: top;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Keeps the background fixed when scrolling */
    padding: 150px;
    text-align: center;
    color: #fdefe7;
}

/* ------------------------------------------- About page style ------------------------------------------- */
.about {
    font-size: 14px;
    background-image: url('../assets/images/common/mariaTattooBg.jpg');
    /* Path to your image */
    background-size: cover;
    /* Makes the image cover the entire screen */
    background-position: left;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Keeps the background fixed when scrolling */
    padding: 10px;
    text-align: left;
    color: #fdefe7;
}

.video-container {
    position: relative;
    width: 100%;/* The iframe will take the full width of its container */
    padding-bottom: 56.25%;/* 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/* Full width of the container */
    height: 100%;/* Full height of the container, maintaining aspect ratio */
    border: 0;
}

/* ------------------------------------------- Atelier page style ------------------------------------------- */
.atelier {
    font-size: 14px;
    background-color: #fdefe7;
    padding: 10px;
    text-align: center;
    color: #1d1d1b;
}

/* Container to hold the map and video side by side */
.atelier-container {
    display: flex;
    justify-content: space-between;/* Ensures space between the map and video */
    align-items: flex-start;/* Aligns the items at the top */
    gap: 20px;/* Adjust the gap between map and video */
}

.video-onaside {
    position: relative;
    width: 15%;
    height: 600px; 
}

/* Style the map container */
.map-container {
    position: relative;
    width: 85%;
    height: 600px; /* Adjust height as needed */
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.video-container {
    position: relative;
    width: 100%;
    /* The iframe will take the full width of its container */
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Full width of the container */
    height: 100%;
    /* Full height of the container, maintaining aspect ratio */
    border: 0;
}

/* ------------------------------------------- Tattoo page style ------------------------------------------- */
.gallery {
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
    background-color: black;
    text-align: center;
    color: #fdefe7;
    height: 100vh;/* Full viewport height */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;/* Hide any overflow */
}

.carousel-container {
    position: relative;
    max-width: 100vh;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: row;/* Ensures that slides are displayed in a row */
    transition: transform 0.5s ease-in-out;
    height: 100%;/* Carousel fills the full section height */
}

.carousel-slide {
    height: 100%;
    min-width: 100%;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-height: 100%;/* The image will fill the section's height */
    max-width: 100%;/* The image will also scale down to fit within the screen width */
    object-fit: contain;/* Keeps the aspect ratio and ensures it doesn't stretch */
    cursor: pointer;/* Show pointer cursor when hovering over the image */
}

.carousel-slide img:fullscreen {
    object-fit: contain;/* Maintain the aspect ratio in full screen */
    width: 100vw;/* Full viewport width */
    height: 100vh;/* Full viewport height */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* ------------------------------------------- Art page style ------------------------------------------- */


/* ------------------------------------------- Contact form style ------------------------------------------- */
.contact-form {
    max-width: 98%;               /* Allow the form to take up full width */
    width: 98%;                   /* Ensure it takes 100% of the screen width */
    padding: 20px;
    background-color: #464646;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;                /* Centers the form */
    color: #c29d5d;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    width: 99%;                   /* Ensure the input fields take full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;                   /* Ensure the button takes full width */
    padding: 5px;
    background-color: #c29d5d;
    color: #fdefe7;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    color: #464646;
}

/* ------------------------------------------- Impressum page style ------------------------------------------- */
.impressum {
    font-size: 14px;
    background-color: #fdefe7;
    padding: 10px;
    text-align: left;
    color: #464646;
}