
body {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
}

header {
    font-size: 36px;
    background-color: #464646;
    color: #c29d5d;
    padding: 2rem 0;
    text-align: center;
}

#tattoo {
    font-size: 36px;
    background-image: url('../assets/images/tattoo_bg_1.jpg');  /* Path to your image */
    background-size: cover;    /* Makes the image cover the entire screen */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    padding: 50px;
    text-align: center;
}

#art {
    font-size: 36px;
    background-image: url('../assets/images/tattoo_bg_2.jpg');  /* Path to your image */
    background-size: cover;    /* Makes the image cover the entire screen */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    padding: 50px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #464646;
    color: #c29d5d;
}

/* Social Icons Styles */
.social-icons {
    margin-top: 15px; /* Space between the title and icons */
}

.social-icons a {
    color: white; /* Change to your desired color */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between icons */
    font-size: 24px; /* Icon size */
}

.social-icons a:hover {
    color: #ffcc00; /* Change color on hover (you can customize this) */
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Floating Button Styles */
.floating-button {
    position: fixed; /* Stays in place even when scrolling */
    bottom: 20px;    /* Position from the bottom of the screen */
    right: 20px;     /* Position from the right side of the screen */
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.floating-button:hover {
    background-color: #ff9900; /* Hover effect */
}